html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  font-family: 'Cutive Mono', monospace;
  background-color: #cecece;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background-color: #00ffff;
}

::-moz-selection {
  background-color: #00ffff;
}

#header {
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#homepage-container {
  width: 100%;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, button:active {
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover, button:hover {
  color: #808080;
}

a:focus, button:focus {
  outline: none;
}

#homepage-link {
  position: absolute;
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#title-link {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#title {
  width: fit-content;
  margin: 0px;
  margin-top: 30px;
  font-family: 'Share', cursive;
  font-size: 52px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  transition: font-size 0.4s;
}

#account-menu {
  position: absolute;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#edit-space {
  position: relative;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 100px;
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#post-title {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

#post-board {
  height: 75vw;
  max-height: 413.8px;
  width: 75vw;
  max-width: 413.8px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  outline-style: solid;
  outline-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff90cd;
  transition: all 0.4s;
}

.finished {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

#format-toolbar {
  height: 5vw;
  min-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}

button {
  border: none;
  outline: none;
  display: flex;
  background: none;
  cursor: pointer;
}

#format-toolbar button {
  margin: -3.5px;
}

.material-icons {
  font-size: inherit;
}

#font-color-icon {
  z-index: 1;
}

#font-color-picker {
  position: relative;
  height: 0px;
  width: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 0;
}

#font-color-picker:focus {
  opacity: 0 !important;
  z-index: 0;
}

#post {
  height: 65vw;
  max-height: 340px;
  width: 65vw;
  max-width: 340px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  margin: 5px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  user-select: text;
  -webkit-user-select: text;
}

#post > a {
  text-decoration: underline;
}

#post > img {
  max-height: 100%;
  max-width: 100%;
}

#action-buttons {
  height: 5vw;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.action-button {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
  text-decoration: none;
  line-height: 20px;
}

.action-button:hover {
  font-weight: bold;
}

.action-button.finished {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

#close, #modify, #delete {
  display: none;
}

#public-checkbox {
  height: 9px;
  width: 9px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

#public-input {
  display: none;
}

#go-back, #continue-post, #new-post {
  height: 50px;
  display: none;
}

#cabinet, #cabinet-back, #cabinet-front {
  position: relative;
  width: 200px;
  height: 100px;
  margin: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  z-index: 1;
}

#cabinet {
  justify-content: baseline;
}

#cabinet-back, #cabinet-front {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  justify-content: center;
  background-color: #a9a9b1;
}

#cabinet-back.open {
  transform: translateX(-40px);
  transition: all 0.5s;
}

#left-arrow {
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 15px !important;
  opacity: 0;
}

#left-arrow.display, #right-arrow.display {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
}

#left-arrow.display:hover, #right-arrow.display:hover {
  opacity: 1;
}

#posts-container {
  display: flex;
}

.previous-post {
  height: 30px;
  width: 10px;
  margin-left: -2px;
  margin-right: -2px;
  outline-style: solid;
  outline-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  background-color: #ffff00;
  cursor: pointer;
  transition: all 0.5s;
}

.previous-post.display {
  width: 30px;
  transform: translateY(-20px);
  transition: all 0.5s;
  z-index: 0;
}

.previous-post.display:hover {
  transform: translateY(-40px);
  transition: all 0.5s;
}

.previous-post-content {
  height: 20px;
  width: 20px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 6px;
  text-align: left;
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
}

.previous-post-content img {
  max-width: 100%;
  max-height: 100%;
}

.previous-post-content::-webkit-scrollbar {
  width: 1px;
}

#cabinet-front.open {
  transform: translateX(40px);
  transition: all 0.5s;
}

#handle {
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  background-color: #f5f5dd;
  cursor: pointer;
  z-index: 1;
}

#right-arrow {
  position: absolute;
  top: 0px;
  left: 188px;
  font-size: 15px !important;
  opacity: 0;
}

@media only screen and (max-width: 576px) {
  #post-board {
    max-height: 470px;
    max-width: 470px;
  }

  #post {
    max-height: 390px;
    max-width: 390px;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  body {
    display: block;
  }

  #edit-space {
    margin-bottom: 60px;
    align-items: center;
  }

  #cabinet {
    position: relative;
    width: 100%;
  }

  #cabinet-back, #cabinet-front {
    top: -2px;
  }

  #left-arrow {
    font-size: 30px !important;
  }

  #right-arrow {
    left: 179px;
    font-size: 30px !important;
  }
}

@media only screen and (min-width: 768px) {
  #title {
    margin-top: 0px;
    font-size: 70px;
  }

  #account-menu {
    font-size: 14px;
  }

  #post-board {
    max-height: 585px;
    max-width: 585px;
  }

  #post-title {
    font-size: 25px;
  }

  #format-toolbar button {
    margin: -0.5px;
  }

  #post {
    max-height: 490px;
    max-width: 490px;
    font-size: 20px;
  }
}
