body {
  text-align: center;
}

#canvas {
  border: 20px solid rgba(0, 0, 0, 0.08);
}

.stroke {
  stroke: black;
  stroke-width: 3px;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
