body {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

#canvas {
  border: 20px solid rgba(0, 0, 0, 0.08);
}

.chosen {
  r: 11.5;
  stroke: darkslategrey;
  stroke-width: 2px;
}

button {
  color: grey;
  font-family: 'Chathura', sans-serif;
  font-size: 25px;
  line-height: 55px;
  border: 0px;
  border-radius: 5px;
  background: transparent;
}

button:focus {
  outline: none;
}

.clicked {
  text-shadow: 0.2px -0.2px 0px #000000;
}

#save {
  border-style: solid;
  color: grey;
  background: #EBEBEB;
  font-size: 50px;
  line-height: 35px;
  border-radius: 5px;
}

#save:active {
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}


#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
