html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Chathura', sans-serif;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

#header {
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: all 0.3s;
  z-index: 1;
}

#homepage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, .action:active {
  text-shadow: 0.1px -0.1px 0px #000000;
}

a:hover {
  color: #808080;
}

a:focus, button:focus {
  outline: none;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#gallery-link {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

#gallery-link:hover {
  color: #000000;
}

#gallery-title {
  margin: 0px;
  font-family: 'League Script', cursive;
  font-size: 48px;
  font-weight: normal;
  line-height: 1;
  transition: all 0.4s;
}

#gallery-title:hover {
  font-weight: bold;
  transition: all 0.4s;
}

.shrink #gallery-title {
  font-size: 24px;
  transition: all 0.3s;
}

.shrink:hover #gallery-title {
  font-size: 36px;
  transition: all 0.3s;
}

#gallery-title.small {
  font-size: 24px;
  transition: font-weight 0s;
}

#gallery-link:hover #gallery-title.small, #gallery-link:hover i {
  font-weight: bold !important;
  color: #000000 !important;
  transition: font-weight 0s;
}

#gallery-link i {
  height: 10px;
  width: 10px;
  font-size: 12px;
  visibility: visible;
}

#account-menu {
  position: absolute;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

#gallery {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#gallery text {
  padding: 3px;
  font-size: 25px;
  cursor: default;
}

#error-message {
  margin-top: 50px;
  font-size: 30px;
  font-style: italic;
  line-height: 1;
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes color {
  0% {
    color: #ff0000;
  }

  10% {
    color: #ffb100;
  }

  20% {
    color: #ffe000;
  }

  30% {
    color: #62ff00;
  }

  40% {
    color: #00ffad;
  }

  50% {
    color: #00e7ff;
  }

  60% {
    color: #0066ff;
  }

  70% {
    color: #2700ff;
  }

  80% {
    color: #b400ff;
  }

  90% {
    color: #ff00bc;
  }

  100% {
    color: #ff0000;
  }
}

.drawing-container {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  line-height: 0.5;
  opacity: 0.7;
  transition: all 0.4s;
}

.drawing-container:hover {
  opacity: 1;
  transition: all 0.4s;
}

.drawing-title {
  width: 240px;
  cursor: default;
}

.drawing {
  height: 240px;
  width: 240px;
  border: 7px solid rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.drawing-info {
  width: 240px;
  display: flex;
  cursor: default;
  z-index: 2;
}

.drawing-likes, .drawing-views {
  width: 20%;
  padding: 1px;
  font-size: 15px;
  text-align: left;
  line-height: 0.8;
  opacity: 0.6;
  cursor: default;
}

.fa-heart {
  color: #ff0000;
}

.fa-heart, .fa-heart-o {
  cursor: pointer;
}

.drawing-artist {
  width: 80%;
  margin-top: 2px;
  text-align: right;
  cursor: default;
}

#plus-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 60px;
  color: #00cb96;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 1;
}

#plus-icon:hover {
  transition: all 0.4s;
}

.clicked {
  animation-name: pop;
  animation-duration: 0.2s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.open {
  color: #ffc0cb !important;
  transition: all 0.4s;
}

#menu {
  position: fixed;
  bottom: 0px;
  right: 15px;
  opacity: 0;
  transform: translateY(65px);
  transition: all 0.7s;
  z-index: 2;
}

.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#menu.hidden, .menu-option.hidden {
  position: absolute !important;
  bottom: -150px !important;
}

.visible {
  opacity: 1 !important;
  transform: translateY(-65px) !important;
  transition: all 0.7s;
}

.menu-option {
  position: relative;
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.4s;
}

.menu-option:hover {
  opacity: 1;
  transition: all 0.4s;
}

.menu-image {
  height: 45px;
  width: 45px;
  border: 6px solid rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  display: inline-block;
  transform: scale(1);
  transition: all 0.4s;
}

.menu-option:hover > .menu-image {
  transform: scale(1.1);
  transition: all 0.4s;
}

.fa-sign-in, .fa-plus {
  position: absolute;
  height: 45px;
  width: 45px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 30px !important;
  color: #a5a5a5;
  opacity: 0.5;
  transition: all 0.4s;
}

.menu-option:hover > .fa-sign-in, .menu-option:hover > .fa-plus {
  opacity: 1 !important;
  transform: scale(1.1);
  transition: all 0.4s;
}

#title-input {
  margin-top: 80px;
}

#drawing-title {
  border: none;
  outline: none;
  font-family: 'Chathura', sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
}

#canvas {
  height: 80%;
  max-height: 400px;
  width: 80%;
  max-width: 400px;
  border: 13px solid rgba(0, 0, 0, 0.08);
}

#current-palette {
  height: 80%;
  max-height: 40px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 1%;
}

circle {
  cursor: pointer;
}

circle.selected {
  r: 4%;
  stroke: #2f4f4f;
  stroke-width: 0.5%;
}

.outline {
  stroke: #000000;
  stroke-width: 0.5px;
}

button {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Chathura', sans-serif;
  font-size: 24px;
  color: #808080;
  line-height: 1;
  cursor: pointer;
}

button:hover {
  color: #ff8282;
}

button.selected, button:active {
  text-shadow: 0.1px -0.1px 0px #000000;
  color: #ff8282;
}

.action {
  font-size: 36px;
  color: #808080;
  line-height: 1.5;
}

@media only screen and (min-width: 400px) {
  #gallery-title {
    font-size: 48px;
  }

  .shrink:hover #gallery-title {
    font-size: 48px;
  }

  #gallery {
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  #gallery-link {
    margin-top: 0px;
  }

  #gallery-title {
    margin-top: 10px;
    font-size: 72px;
  }

  .shrink:hover #gallery-title {
    font-size: 72px;
  }

  #gallery-title.small {
    font-size: 36px;
  }

  #gallery-link i {
    height: 0px;
    width: 0px;
    font-size: 18px;
    visibility: hidden;
  }

  #gallery-link:hover i {
    height: 10px;
    width: 10px;
    visibility: visible !important;
  }

  #account-menu {
    font-size: 14px;
  }

  #container {
    margin-top: 120px;
  }

  #gallery {
    max-width: 85%;
  }

  #error-message {
    font-size: 40px;
  }

  .drawing-likes, .drawing-views, .drawing-artist {
    opacity: 0;
    transition: all 0.4s;
  }

  .drawing-container:hover .drawing-likes, .drawing-container:hover .drawing-views, .drawing-container:hover .drawing-artist {
    opacity: 1;
    transition: all 0.4s;
  }

  #title-input {
    margin-top: 60px;
  }

  #current-palette {
    margin-bottom: 0px;
  }

  button {
    line-height: 2;
  }

  .action {
    font-size: 30px;
    line-height: 1;
  }
}
