html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  background-image: url('images/background.png');
  background-size: cover;
  cursor: url('images/blast-start.png') 25 20, none;
  user-select: none;
  -webkit-user-select: none;
}

#homepage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

a {
  color: #ffffff;
  opacity: 0.7;
  text-decoration: none;
}

a:active, button:active {
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover, button:hover {
  opacity: 1;
}

a:focus, button:focus {
  outline: none;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#account-menu {
  position: absolute;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#heart {
  opacity: 0.3;
}

.shape {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#container {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#audio-div {
  height: 0px;
  width: 0px;
}

#audio-icon {
  position: fixed;
  height: 30px;
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
}

#audio-icon:hover {
  opacity: 1;
}

#title {
  dominant-baseline: central;
  font-family: 'Bungee Shade', cursive;;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-anchor: middle;
  line-height: 45px;
  opacity: 0.6;
}

#score {
  dominant-baseline: central;
  font-family: 'Bungee Shade', cursive;;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-anchor: middle;
  line-height: 45px;
  opacity: 0.6;
}

@media only screen and (min-width: 468px) {
  #score {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #account-menu {
    font-size: 14px;
  }

  #title {
    font-size: 50px;
  }

  #score {
    margin-top: 60px;
    font-size: 30px;
  }
}
