html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("http://revelwallpapers.net/d/725A356F5A5A484C7A3533616333566D70705A6C7A6548577671746767513D3D/nature-graffiti-drawing-rain-background.jpg");
  background-size: cover;
  margin: 0;
}

#container {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  width: 75%;
  position: absolute;
  font-family: Bungee Shade;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  user-select: none;
}

#heart {
  opacity: .4;
}

#blast {
  fill: #ffccb3;
  height: 10%;
  width: 10%;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

@media only screen and (min-width: 768px) {
  #title {
    font-size: 50px;
  }
}
