html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("background.jpg");
  background-size: cover;
  margin: 0;
}

#container {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#audio-div {
  height: 0px;
  width: 0px;
}

#audio-icon {
  position: fixed;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}

#audio-icon:hover {
  opacity: 1;
}

#title {
  width: 75%;
  position: absolute;
  font-family: Bungee Shade;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-top: -20px;
  user-select: none;
}

#score {
  width: 75%;
  position: absolute;
  font-family: Bungee Shade;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-top: 45px;
  user-select: none;
}

#heart {
  opacity: .4;
}

#blast {
  fill: #ffccb3;
  height: 10%;
  width: 10%;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

@media only screen and (min-width: 468px) {
  #score {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #title {
    font-size: 50px;
  }

  #score {
    font-size: 30px;
    margin-top: 60px;
  }
}
