body {
  text-align: center;
  background: black;
  background-image: url("https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg");
}

h1 {
  margin-top: 50px;
  font-family: Open Sans Condensed;
  color: transparent;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

#clockbox {
  width: 400px;
  margin: 0 auto;
}

#time {
  font-size: 100px;
  color: white;
  opacity: .9;
}

#quote {
  font-style: italic;
  font-size: 15px;
  color: white;
  opacity: .8;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
