.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

#header {
  position: fixed;
  height: 43px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
  z-index: 10;
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#account-menu {
  margin-right: 3px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#footer {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  line-height: 1.3;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  #account-menu {
    font-size: 14px;
  }
}
