h1 {
  font-size: 45px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: grey;
}

.contact {
  text-align: center;
}

#grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#grid li {
  display: inline-block;
  width: 32%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0.5%;
  padding: 0;
}

.container {
  display: block;
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  transform: scale(1);
  transition: all 0.5s;
}

#grid li:hover .image {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #e8e8e8 no-repeat center 20%;
  background-size: 50px 50px;
  opacity: 0;
  transition: all 0.3s;
}

.preview {
  text-align: center;
  opacity: 0.5;
}

.icon {
  position: absolute;
  left: 40%;
  top: 17%;
  width: 20%;
  height: 20%;
  transform: translateY(-20px);
  transition: all 0.3s;
}

#grid li:hover .overlay {
  opacity: 0.85;
}

.title {
  display: block;
  padding: 0 30px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
  top: 40%;
  color: black;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s;
}

#grid li:hover .title {
  transform: translateY(0px);
  opacity: 1;
}

#grid li:hover .icon {
  transform: translateY(0px);
}

#homepage {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}
