#scoreboard {
  margin: 0 auto;
  font-family: Wire One, sans-serif;
  background-color: #e0e0e0;
  color: black;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#leader-title {
  font-size: 40px;
}

th {
  text-decoration: underline;
  width: 50%;
}

td {
  width: 50%;
}

#leaderboard {
  margin: 0 auto;
  font-family: Wire One, sans-serif;
  background-color: #e0e0e0;
  color: black;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#game {
  text-align: center;
}

#canvas {
  background-color: #efbfff;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
