#canvas {
  background-color: #efbfff;
}

h1 {
  font-family: Wire One, sans-serif;
  background-color: #e0e0e0;
  color: black;
  width: 500px;
  text-align: center;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
