body {
  background-color: #ffff00;
  font-family: 'Bad Script', cursive;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background-color: #ffffff;
}

::-moz-selection {
  background-color: #ffffff;
}

:focus {
  outline: none !important;
  text-decoration: none !important;
}

#dimmer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: block;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}

.modal-body {
  border-top: 1px solid #eceeef;
}

#carousel {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.carousel-item {
  height: 80vh;
  max-height: 100vh;
  width: auto;
}

.carousel-item.active {
  height: 80vh;
  max-height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  height: 80vh;
  max-height: 100vh;
  width: auto;
  display: block;
}

.image-close {
  position: absolute;
  width: 25vw;
  outline: none;
  top: 15px;
  right: 0px;
  font-size: 30px;
  text-align: right;
  color: #ffffff;
}

.image-close:focus, .image-close:hover {
  color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none !important;
  cursor: pointer;
}

a:active, button:active {
  color: #2d8e84;
  text-decoration: none !important;
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover, button:hover {
  color: #2d8e84;
  text-decoration: none !important;
}

a:focus, button:focus {
  outline: none;
  color: #2d8e84;
  text-decoration: none !important;
}

#header {
  text-align: center;
}

#homepage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

.fa-plane {
  position: absolute;
  margin-left: -24px;
  margin-right: 24px;
  top: 22px;
  font-size: 15px !important;
}

.fa-globe {
  position: absolute;
  top: 0px;
  font-size: 61px !important;
  opacity: 0.2;
}

h1 {
  padding-top: 5px;
  margin-top: 12px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
}

#account-menu {
  position: absolute;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#left-panel {
  background-color: #40e0d0;
}

h2 {
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

input {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  line-height: normal;
  user-select: text;
  -webkit-user-select: text;
}

input::selection {
  background-color: #91ff80;
}

input::-moz-selection {
  background-color: #91ff80;
}

input::placeholder {
  color: #e0e1e2;
}

.btn {
  padding: 8px 5px 5px 5px;
  border: 1px solid #000000;
  outline: none;
  background-color: #ffdb86;
  font-family: 'Bad Script', cursive;
  line-height: 1;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0.07em 0.07em 0.0em !important;
  -webkit-box-shadow: 0.07em 0.07em 0.0em !important;
  background-color: #ffc53c;
  text-shadow: 0.01em -0.01em 0em;
}

.btn:hover, .btn:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #ffc53c;
  font-weight: bold;
  color: #000000;
}

#right-panel {
  background-color: #ffc0cb;
}

#right-panel.cleared {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading-image {
  position: absolute;
  display: none;
}

.loading {
  border: none;
  display: block !important;
  background-color: rgba(0, 0, 0, 0);
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

ul {
  margin-top: 1rem;
}

.image {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
  cursor: pointer;
}

.image.cleared {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.media-body {
  text-align: center;
  user-select: text;
  -webkit-user-select: text;
}

.image-title {
  font-size: 10px;
  user-select: text;
  -webkit-user-select: text;
}

@media only screen and (min-width: 768px) {
  #carousel-close {
    font-size: 35px;
  }

  .fa-plane {
    margin-left: -32px;
    margin-right: 32px;
    top: 27px;
    font-size: 21px !important;
  }

  .fa-globe {
    font-size: 80px !important;
  }

  h1 {
    padding-top: 10px;
    font-size: 40px;
  }

  #account-menu {
    font-size: 14px;
  }

  h2 {
    padding-top: 10px;
    font-size: 30px;
  }

  .btn {
    padding-top: 10px;
    font-size: 20px;
  }

  .image {
    max-height: 300px;
    max-width: 300px;
  }

  .image-title {
    font-size: 15px;
  }
}
