body {
  background-color: #ffff00;
  font-family: 'Bad Script', cursive;
  user-select: none;
  cursor: default;
}

::selection  {
  background: #ffffff;
}

:focus {
  outline: none !important;
  text-decoration: none !important;
}

#dimmer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}

.modal-body {
  border-top: 1px solid #eceeef;
}

#carousel {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 1;
}

.carousel-item.active {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  max-height: 600px;
  max-width: 600px;
}

#close-carousel {
  position: absolute;
  width: 100vw;
  outline: none;
  top: 0;
  right: 0;
  font-size: 30px;
  text-align: right;
  color: #ffffff;
}

#header {
  text-align: center;
}

a {
  color: #000000;
}

a:active, a:focus, a:hover {
  color: #2d8e84;
  text-decoration: none !important;
}

h1 {
  padding-top: 5px;
  font-weight: bold;
  line-height: 1.5;
}

.fa-plane {
  position: absolute;
  margin-left: -24px;
  top: 22px;
  font-size: 15px !important;
}

.fa-globe {
  position: absolute;
  top: 0;
  font-size: 61px !important;
  opacity: 0.2;
}

#left {
  background-color: #40e0d0;
}

h2 {
  padding-top: 5px;
  font-size: 20px;
  line-height: 2;
}

input {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
  font-family: 'Bad Script', cursive;
  font-size: 20px;
  user-select: text;
}

input::selection {
  background-color: #91ff80;
}

input::placeholder {
  color: #e0e1e2;
}

.btn {
  padding: 8px 5px 5px 5px;
  border: 1px solid #000000;
  outline: none;
  background-color: #ffdb86;
  font-family: 'Bad Script', cursive;
  line-height: 1;
  cursor: pointer;
}

.btn:active {
  box-shadow: 0.05em 0.05em 0.0em !important;
  -webkit-box-shadow: 0.05em 0.05em 0.0em !important;
  background-color: #ffc53c;
  text-shadow: 0.01em -0.01em 0em;
}

.btn:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn:hover {
  font-weight: bold;
}

#right {
  background-color: #ffc0cb;
}

#right.cleared {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading-image {
  position: absolute;
  display: none;
}

.loading {
  border: none;
  display: block !important;
  background-color: transparent;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

ul {
  margin-top: 1rem;
}

.image {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  opacity: 0.8;
}

.image:hover {
  opacity: 1;
}

.image.cleared {
  border: none;
  background-color: transparent;
}

.media-body {
  text-align: center;
  user-select: text;
}

.image-title {
  font-size: 10px;
  user-select: text;
}

@media only screen and (min-width: 768px) {
  #close-carousel {
    font-size: 35px;
  }

  .fa-plane {
    margin-left: -32px;
    top: 27px;
    font-size: 21px !important;
  }

  .fa-globe {
    font-size: 80px !important;
  }

  h1 {
    padding-top: 10px;
    font-size: 40px;
  }

  h2 {
    padding-top: 10px;
    font-size: 30px;
  }

  .btn {
    padding-top: 10px;
    font-size: 20px;
  }

  .image {
    max-height: 300px;
    max-width: 300px;
  }

  .image-title {
    font-size: 15px;
  }
}
