html, body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  font-family: 'Cutive Mono', monospace;
  background-color: #cecece;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background-color: #00ffff;
}

#header {
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#homepage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, button:active {
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover, button:hover {
  color: #808080;
}

a:focus, button:focus {
  outline: none;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#title-link {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#title {
  position: fixed;
  width: fit-content;
  top: 30px;
  margin: 0px;
  font-family: 'Share', cursive;
  font-size: 52px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  transition: font-size 0.4s;
}

.shrink #title {
  font-size: 2em;
  transition: all 0.4s;
}

.shrink:hover #title {
  font-size: 52px;
  transition: font-size 0.4s;
}

#account-menu {
  position: absolute;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#container {
  position: absolute;
  width: 100%;
  margin-top: 130px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#post-area {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

#error-message {
  padding: 3px;
  font-size: 2.5em;
  text-align: center;
}

#post-container {
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

#post-title {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 2;
}

#post-board {
  height: 71vw;
  max-height: 381.5px;
  width: 71vw;
  max-width: 381.5px;
  padding: 5px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  outline-style: solid;
  outline-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff90cd;
  transition: all 0.4s;
}

#post-content {
  height: 65vw;
  max-height: 350px;
  width: 65vw;
  max-width: 350px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  user-select: text;
  -webkit-user-select: text;
}

#post-content img {
  max-width: 100%;
  max-height: 100%;
}

#post-info {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

#comment-area {
  display: flex;
  flex-direction: column;
}

#new-comment-box {
  height: 50px;
  width: 65vw;
  max-width: 350px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  resize: none;
}

.comment-container {
  width: 65vw;
  max-width: 384px;
  display: flex;
  flex-flow: row wrap;
}

.comment-content {
  width: 75%;
  padding-right: 5%;
  padding-bottom: 15px;
}

.commenter {
  width: 15%;
  padding-left: 5%;
  text-align: right;
}

.comment-timestamp {
  margin-bottom: 50px;
}

button {
  width: fit-content;
  border: none;
  outline: none;
  background: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  text-decoration: none;
  line-height: 20px;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

#submit {
  align-self: flex-end;
}

@media only screen and (min-width: 576px) {
  #post-area {
    max-width: 90%;
  }

  #post-board {
    max-height: 436px;
    max-width: 436px;
  }

  #post-content {
    max-height: 400px;
    max-width: 400px;
  }

  #new-comment-box {
    height: 75px;
    max-width: 400px;
  }

  .comment-container {
    max-width: 434px;
  }

  button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #account-menu {
    font-size: 14px;
  }

  #title {
    top: 0px;
    font-size: 70px;
  }

  .shrink:hover #title {
    font-size: 70px;
  }

  #post-area {
    max-width: 85%;
    overflow: unset;
  }

  #post-title {
    font-size: 18px;
  }

  #post-board {
    max-height: 545px;
    max-width: 545px;
  }

  #post-content {
    max-height: 500px;
    max-width: 500px;
    font-size: 20px;
  }

  #post-info {
    font-size: 12px;
  }

  #new-comment-box {
    max-width: 500px;
  }

  .comment-container {
    max-width: 534px;
  }
}
