html, body {
  min-height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Cutive Mono', monospace;
  background-color: #cecece;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background-color: #00ffff;
}

::-moz-selection {
  background-color: #00ffff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, button:active {
  text-shadow: 0.1px -0.1px 0px #000000;
}

a:hover, button:hover, .post-title:hover, .post-comments:hover, #edit:hover, #delete:hover {
  color: #808080;
}

a:focus, button:focus {
  outline: none;
}

#title-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#title {
  position: absolute;
  width: fit-content;
  top: 30px;
  margin: 0px;
  font-family: 'Share', cursive;
  font-size: 52px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: center;
  transition: font-size 0.4s;
  z-index: 2;
}

#container, #post-page-container {
  position: relative;
  width: 100%;
  margin-top: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#post-board {
  position: relative;
  max-width: 265px;
  margin-bottom: 50px;
  outline-style: solid;
  outline-width: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff90cd;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

#post-board text {
  padding: 3px;
  font-size: 25px;
  cursor: default;
}

#error-message {
  font-size: 30px;
  text-align: center;
}

.post-container {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.post-title {
  width: 200px;
  font-size: 15px;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.post-content {
  height: 200px;
  width: 200px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  background-color: #ffff00;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  user-select: text;
  -webkit-user-select: text;
}

.post-content img {
  max-width: 100%;
  max-height: 100%;
}

.post-info {
  width: 160px;
  margin-top: 5px;
  font-size: 10px;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.post-info a {
  display: block;
}

.post-comments {
  cursor: pointer;
}

#new-post-link {
  position: fixed;
  bottom: 7px;
  right: 15px;
  font-size: 48px;
  color: #000000;
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
  z-index: 201;
}

#new-post-link:hover, #new-post-link:hover + #paper-icon {
  color: #000000;
  transform: scale(1.1);
  transition: all 0.3s;
}

#new-post-link:active, #new-post-link:active + #paper-icon {
  animation-name: pop;
  animation-duration: 0.2s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#paper-icon {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 0px;
  right: 0px;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
  z-index: 200;
}

#paper-background {
  fill: #ffff00;
}

#post-page-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#post-container {
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

#post-title {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
  line-height: 2;
  user-select: text;
  -webkit-user-select: text;
}

#post-background {
  height: 71vw;
  max-height: 381.5px;
  max-width: 381.5px;
  padding: 5px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  outline-style: solid;
  outline-width: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ff90cd;
  transition: all 0.4s;
}

#post-content {
  height: 65vw;
  max-height: 350px;
  width: 65vw;
  max-width: 350px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 12px;
  cursor: default;
  overflow: auto;
  user-select: text;
  -webkit-user-select: text;
}

#post-content > a {
  text-decoration: underline;
  cursor: pointer;
}


#post-content img {
  max-width: 100%;
  max-height: 100%;
}

#post-info {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

#edit, #delete {
  position: absolute;
  right: 0px;
  cursor: pointer;
}

#delete {
  margin-top: 10px;
}

#comment-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#new-comment-box {
  height: 50px;
  width: 65vw;
  max-width: 350px;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  resize: none;
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
}

button {
  width: fit-content;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  text-decoration: none;
  line-height: 20px;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

button:hover:disabled, button:disabled {
  font-weight: normal;
  cursor: not-allowed;
}

#submit-comment {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.comment-container {
  width: 73vw;
  max-width: 384px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comment-content {
  width: 75%;
  padding-right: 5%;
  padding-bottom: 15px;
}

.comment-content.editing {
  outline: none;
  resize: none;
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
}

.commenter {
  width: 15%;
  padding-left: 5%;
  text-align: right;
}

.comment-timestamp {
  width: 55%;
}

.button-container {
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.button-container button {
  padding: 0px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.1;
}

.submit-button, .cancel-button {
  display: none;
}

.error {
  margin-top: 5px;
  color: #ff0000;
}

#editor-container {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#edit-space {
  position: relative;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
  text-align: center;
}

.finished {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

#format-toolbar {
  height: 5vw;
  min-height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#format-toolbar button {
  margin: -3.5px;
  font-size: 10px;
}

.material-icons {
  font-size: inherit;
}

#font-color-icon {
  z-index: 1;
}

#font-color-picker {
  position: relative;
  height: 0px;
  width: 0px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 0;
}

#font-color-picker:focus {
  opacity: 0 !important;
  z-index: 0;
}

#action-buttons {
  height: 5vw;
  min-height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.action-button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  text-decoration: none;
  line-height: 20px;
}

.action-button:hover {
  font-weight: bold;
}

.action-button.finished {
  transform: rotateX(180deg);
  transition: transform 0.5s;
}

#close-post, #modify-post, #delete-post {
  display: none;
}

#public-checkbox {
  height: 9px;
  width: 9px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

#public-text {
  cursor: pointer;
}

#public-input {
  display: none;
}

#go-board, #go-back, #continue-post, #new-post {
  height: 50px;
  display: none;
}

#cabinet, #cabinet-back, #cabinet-front {
  position: relative;
  width: 200px;
  height: 100px;
  margin: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 1;
}

#cabinet-back, #cabinet-front {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #a9a9b1;
}

#cabinet-back {
  background-color: #94949c;
}

#cabinet-back.open {
  transform: translateX(-40px);
  transition: all 0.5s;
}

#left-arrow {
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 15px !important;
  opacity: 0;
}

#left-arrow.display, #right-arrow.display {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
}

#left-arrow.display:hover, #right-arrow.display:hover {
  opacity: 1;
}

#posts-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.previous-post {
  height: 30px;
  width: 10px;
  margin-left: -2px;
  margin-right: -2px;
  outline-style: solid;
  outline-width: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffff00;
  cursor: pointer;
  transition: all 0.5s;
}

.previous-post.display {
  width: 30px;
  transform: translateY(-20px);
  transition: all 0.5s;
  z-index: 0;
}

.previous-post.display:hover {
  transform: translateY(-40px);
  transition: all 0.5s;
}

.previous-post-content {
  height: 20px;
  width: 20px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 6px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.previous-post-content:hover {
  overflow-x: hidden;
  overflow-y: scroll;
}

.previous-post-content img {
  max-width: 100%;
  max-height: 100%;
}

.previous-post-content:hover::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(72, 72, 72, 0.35);
}

#cabinet-front.open {
  transform: translateX(40px);
  transition: all 0.5s;
}

#handle {
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  background-color: #f5f5dd;
  cursor: pointer;
  z-index: 1;
}

#right-arrow {
  position: absolute;
  top: 0px;
  left: 188px;
  font-size: 15px !important;
  opacity: 0;
}

@media only screen and (min-width: 400px) {
  #post-background {
    width: 71vw;
  }
}

@media only screen and (min-width: 576px) {
  #post-board {
    max-width: 560px;
  }

  .post-container {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .post-title {
    width: 220px;
  }

  .post-content {
    height: 220px;
    width: 220px;
  }

  #post-background {
    max-height: 436px;
    max-width: 436px;
  }

  #post-content {
    max-height: 400px;
    max-width: 400px;
  }

  #new-comment-box {
    height: 75px;
    max-width: 400px;
  }

  button {
    font-size: 20px;
  }

  .comment-container {
    max-width: 434px;
  }

  .button-container button {
    margin-left: 15px;
  }

  #edit-space {
    margin-bottom: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #format-toolbar button {
    font-size: 15px;
  }

  .action-button {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  #cabinet-back, #cabinet-front {
    top: -2px;
  }

  #left-arrow {
    font-size: 30px !important;
  }

  #right-arrow {
    left: 179px;
    font-size: 30px !important;
  }
}

@media only screen and (min-width: 768px) {
  #title {
    top: 10px;
    font-size: 70px;
    z-index: 4;
  }

  #post-board {
    max-width: 625px;
  }

  .post-container {
    margin-bottom: 60px;
  }

  .post-title {
    width: 240px;
    font-size: 18px;
  }

  .post-content {
    height: 240px;
    width: 240px;
    font-size: 16px;
  }

  .post-info {
    width: 210px;
    font-size: 12px;
  }

  #new-post-link {
    opacity: 0;
  }

  #new-post-link:hover {
    opacity: 0.8;
  }

  #post-title {
    font-size: 18px;
  }

  #post-background {
    max-height: 545px;
    max-width: 545px;
  }

  #post-content {
    max-height: 500px;
    max-width: 500px;
    font-size: 20px;
  }

  #post-info {
    font-size: 12px;
  }

  #delete {
    margin-top: 12px;
  }

  #new-comment-box {
    max-width: 500px;
  }

  .comment-container {
    max-width: 534px;
  }

  #format-toolbar button {
    margin: -0.5px;
  }
}

@media only screen and (min-width: 980px) {
  #post-board {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1260px) {
  #post-board {
    max-width: 1200px;
  }
}
