html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  user-select: none;
}

.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#gallery {
  margin: 0.5%;
}

#gallery-link {
  margin: 0px;
  font-family: 'League Script', cursive;
  font-weight: normal;
  font-size: 2em;
}

#gallery-link:hover {
  font-weight: bold;
}

#file-name {
  border: none;
  outline: none;
  font-family: 'Chathura', sans-serif;
  font-size: 3em;
  text-align: center;
  line-height: 1.3em;
  opacity: 1;
}

#canvas {
  height: 80%;
  max-height: 400px;
  width: 80%;
  max-width: 400px;
  border: 1.1em solid rgba(0, 0, 0, 0.08);
}

#current-palette {
  height: 80%;
  max-height: 40px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 1%;
}

.chosen {
  r: 4%;
  stroke: darkslategrey;
  stroke-width: 0.5%;
}

button {
  border: 0px;
  background: transparent;
  font-family: 'Chathura', sans-serif;
  font-size: 2em;
  color: grey;
  line-height: 1em;
}

button:focus {
  outline: none;
}

button:hover, #save:hover {
  color: #ff8282;
}

.clicked {
  text-shadow: 0.01em -0.01em 0em #000000;
  color: #ff8282;
}

.action {
  font-size: 3em;
  color: grey;
  line-height: 1.5em;
}

.action:active {
  text-shadow: 0.01em -0.01em 0em
}

a {
  color: inherit;
  text-decoration: none;
}

#homepage {
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0.7;
}

#homepage:hover {
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #current-palette {
    margin-bottom: 0px;
  }

  button {
    font-size: 1.6em;
    line-height: 1.8em;
  }

  .action {
    font-size: 2.5em;
    line-height: 1em;
  }
}
