html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#header {
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#homepage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover {
  color: #808080;
}

a:focus, button:focus {
  outline: none;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#gallery-link {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

#gallery-title {
  margin:  0px;
  font-family: 'League Script', cursive;
  font-weight: normal;
  font-size: 24px;
}

#gallery-link:hover #gallery-title, #gallery-link:hover i {
  font-weight: bold !important;
  color: #000000 !important;
}

#gallery-link i {
  height: 10px;
  width: 10px;
  font-size: 12px;
  visibility: visible;
}

#account-menu {
  position: fixed;
  margin: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#title-input {
  margin-top: 80px;
}

#drawing-title {
  border: none;
  outline: none;
  font-family: 'Chathura', sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
}

#canvas {
  height: 80%;
  max-height: 400px;
  width: 80%;
  max-width: 400px;
  border: 1.1em solid rgba(0, 0, 0, 0.08);
}

#current-palette {
  height: 80%;
  max-height: 40px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 1%;
}

circle {
  cursor: pointer;
}

circle.clicked {
  r: 4%;
  stroke: #2f4f4f;
  stroke-width: 0.5%;
}

.outline {
  stroke: #000000;
  stroke-width: 1px;
}

button {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Chathura', sans-serif;
  font-size: 24px;
  color: #808080;
  line-height: 1;
  cursor: pointer;
}

button:hover {
  color: #ff8282;
}

button:focus {
  outline: none;
}

button.clicked, button:active {
  text-shadow: 0.01em -0.01em 0em;
  color: #ff8282;
}

.action {
  font-size: 36px;
  color: #808080;
  line-height: 1.5;
}

.action:active {
  text-shadow: 0.01em -0.01em 0em;
}

@media only screen and (min-width: 768px) {
  #gallery-link {
    margin-top: 10px;
  }

  #gallery-title {
    font-size: 36px;
  }

  #gallery-link i {
    height: 0px;
    width: 0px;
    font-size: 18px;
    visibility: hidden;
  }

  #gallery-link:hover i {
    height: 10px;
    width: 10px;
    visibility: visible !important;
  }

  #account-menu {
    font-size: 14px;
  }

  #title-input {
    margin-top: 60px;
  }

  #current-palette {
    margin-bottom: 0px;
  }

  button {
    font-size: 19px;
    line-height: 2;
  }

  .action {
    font-size: 30px;
    line-height: 1;
  }
}
