body {
  height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

::selection {
  background-color: #ffb1b1;
}

::-moz-selection {
  background-color: #ffb1b1;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#profile-container {
  height: 100vh;
}

#header {
  position: fixed;
  height: 43px;
  border-bottom: 4px solid #000000;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  z-index: 1;
}

#homepage-container {
  top: 0px;
  left: 0px;
  z-index: 1;
}

a {
  color: #000000;
  text-decoration: none;
}

a:active {
  text-shadow: 0.01em -0.01em 0em #000000;
}

a:hover {
  color: #808080;
  text-decoration: none;
}

a:focus {
  outline: none;
  color: #808080;
  text-decoration: none;
}

#homepage-link {
  width: 50px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  color: #000000;
}

#homepage-icon {
  height: 30px;
  left: 0px;
  opacity: 0.7;
  filter: grayscale(1);
}

#homepage-link:hover #homepage-icon {
  opacity: 1;
  filter: grayscale(0);
}

#account-menu {
  position: absolute;
  margin-right: 3px;
  top: 0px;
  right: 0px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  z-index: 10;
}

#profile-link, #account-link {
  margin-right: 7px;
}

#profile-icon-row {
  position: fixed;
  min-height: fit-content;
  margin-top: 22px;
  align-self: center;
  z-index: 2;
}

#profile-icon {
  height: 70px;
  width: 70px;
  border-color: #000000;
  border-radius: 35px;
  border-style: solid;
  border-width: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 2;
}

#diamond {
  height: 40px;
  margin-top: 5px;
  fill: #ffffff;
}

#user-link-row {
  position: fixed;
  min-height: fit-content;
  margin-top: 90px;
  align-self: center;
  font-family: 'Sail', cursive;
}

#user-link-row h1 {
  margin-top: 6px;
  font-size: 24px !important;
}

#profile-info {
  margin-top: 120px;
}

#name {
  font-size: 18px;
  font-weight: bold;
}

.user-data {
  font-size: 12px;
  text-align: center;
}

#email {
  font-size: 16px;
}

.fa-star {
  margin-right: 5px;
}

#about-blurb {
  max-width: 300px;
  margin-top: 10px;
  font-style: italic;
  user-select: text;
  -webkit-user-select: text;
}

#gallery-row, #post-area-row {
  min-height: 250px;
  flex-wrap: nowrap;
}

.left, .right {
  font-size: 30px;
  opacity: 0;
}

.display {
  opacity: 0.7 !important;
  cursor: pointer;
}

.display:hover {
  opacity: 1 !important;
}

#gallery, #post-area {
  max-width: 311px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Chathura', sans-serif;
  text-align: center;
  overflow: scroll;
}

.drawing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 0.5em;
}

.drawing-title {
  width: 136px;
  line-height: 0.8;
  cursor: pointer;
}

.drawing-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawing {
  height: 136px;
  width: 136px;
  border: 0.3em solid rgba(0, 0, 0, 0.08);
  margin-top: 2%;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  transition: all 0.4s;
}

.drawing-info {
  width: 136px;
  display: flex;
}

.drawing-likes, .drawing-views {
  width: 31%;
  padding: 1px;
  font-size: 15px;
  text-align: left;
  line-height: 0.8em;
  opacity: 0.6;
  cursor: default;
}

.fa-heart {
  color: #ff0000;
}

.clicked {
  animation-name: pop;
  animation-duration: 0.2s;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#gallery text, #post-area text {
  padding: 3px;
  font-size: 25px;
  cursor: default;
}

#post-area {
  font-family: 'Cutive Mono', monospace;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-title {
  width: 137px;
  font-size: 15px;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 1.5;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.post {
  height: 137px;
  width: 137px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
  outline-style: solid;
  outline-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff90cd;
  transition: all 0.4s;
}

.post-content {
  height: 120px;
  width: 120px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  outline: none;
  resize: none;
  background-color: #ffff00;
  font-size: 12px;
  text-align: left;
  cursor: default;
  overflow: auto;
  user-select: text;
  -webkit-user-select: text;
}

.post-content img {
  max-height: 100%;
  max-width: 100%;
}

.post-info {
  width: 137px;
  margin-left: 10px;
  font-size: 10px;
  text-align: left;
}

@media only screen and (min-width: 576px) {
  #gallery, #post-area {
    max-width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  #account-menu {
    font-size: 14px;
  }

  #profile-icon {
    height: 90px;
    width: 90px;
    border-radius: 45px;
  }

  #diamond {
    height: 60px;
    margin-top: 6px;
  }

  #user-link-row {
    margin-top: 111px;
  }

  #user-link-row h1 {
    font-size: 30px !important;
  }

  #profile-info {
    margin-top: 150px;
  }

  #gallery-row, #post-area-row {
    min-height: 300px;
  }

  #gallery, #post-area {
    max-width: 700px;
    overflow: unset;
  }

  .drawing-container {
    margin-bottom: 1%;
  }

  .drawing-title {
    width: 181px;
    font-size: 30px;
  }

  .drawing {
    height: 178px;
    width: 181px;
  }

  .drawing-info {
    width: 181px;
  }

  .drawing-likes, .drawing-views {
    width: 20%;
  }

  .post-title {
    width: 181px;
    font-size: 18px;
  }

  .post {
    height: 181px;
    width: 181px;
  }

  .post-content {
    height: 160px;
    width: 160px;
    font-size: 20px;
  }

  .post-info {
    width: 181px;
    font-size: 12px;
  }
}
